@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-poppins: Poppins, sans-serif;
}
@theme inline {
  --color-background: #ffff;
  --color-foreground: #171717;
  --default-font-family: var(--font-poppins);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --color-body: #faf9f5;

  /* custom primary color */

  --color-primary: #f2eeed;
  --color-primarypink: #eabdc0;
  --color-primarysky: #dde4f1;

  --color-highlight: #e1d1cb;
  --color-accent: #312c27;

  /* custom secondary color */

  --color-secondary: #000;

  /* custom color */
}

@font-face {
  font-family: "Lysto";
  src: url("/fonts/ivy-presto-display-light") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.headingclass {
  font-family: "ivy-presto-display-light";
}
