@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-poppins: Poppins, sans-serif;
}
@theme inline {
  --color-background: #ffff;
  --color-foreground: #171717;
  --default-font-family: var(--font-poppins);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --color-body: #f4f4f2;

  /* custom primary color */
  --color-primary: #e8a29c;
  --color-primarydark: #3b3f46;
  --color-primarylight: #f4f4f2;
  /* custom secondary color */
  --color-secondary: #a3bfa8;
  --color-secondarydark: #5a7d9a;
  --color-highlight: #c1beb7;
  --color-accent: #3b3f46;

  /*--color-primarypink: #eabdc0; */
  /* --color-primarysky: #dde4f1;
  --color-primaryteal: #7eabac;
  --color-primarygray: #f6edec;
  --color-primaryyellow: #fff4e1; */

  /* --color-highlight: #c1beb7;
  --color-accent: #3b3f46; */

  /* custom color */
}

@font-face {
  font-family: "Lysto";
  src: url("/fonts/ivy-presto-display-light") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.headingclass {
  font-family: "ivy-presto-display-light";
}
